@charset "UTF-8";

body {
  caret-color: transparent;
  font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Sans",
    "Noto Sans", "Meiryo", "sans-serif";
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}
label,
input,
textarea,
select,
button {
  cursor: pointer;
}
button {
  border: 0;
}

/* ---section--- */
.section-headline {
  padding: 30px 15px;
  font-size: 60px;
}
.section {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 40px;
}
.section-secondary {
  background: #efefef;
}
.section-button {
  margin-top: 40px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section {
    padding: 20px 10px;
  }
  .section-headline {
    font-size: 50px;
    margin: 0 0 20px;
  }
}

/* ---fortune--- */
.fortune {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}
.fortune-headline {
  font-weight: bold;
  margin: 0 0 20px;
}
.fortune-image {
  width: 70%;
  height: auto;
  padding: 40px;
}
.fortune-bone {
  width: 70%;
  height: auto;
  padding: 40px;
}

/* ---about--- */
.about {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}
.about-image {
  margin-left: 20px;
  width: 45%;
  height: auto;
}
.about-caption {
  margin-left: 20px;
  width: 45%;
}
.about-headline {
  margin: 0 0 20px;
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  color: #000;
}
.about-description {
  font-size: 18px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .about {
    display: block;
  }
  .about-image {
    max-width: 100%;
    min-width: 80%;
    height: auto;
    margin-bottom: 30px;
  }
  .about-headline {
    font-size: 20px;
    text-align: center;
  }
  .about-caption {
    margin: 0 20px;
    width: 100%;
  }
}

/* ---grid--- */
.grid {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.grid-item {
  list-style: none;
}
.grid-col-2 > .grid-item {
  width: 50%;
}
.grid-col-3 > .grid-item {
  width: 33.3%;
}
.grid-col-4 > .grid-item {
  width: 25%;
}
@media screen and (max-width: 768px) {
  .grid {
    display: block;
  }
  .grid-col-2 > .grid-item,
  .grid-col-3 > .grid-item,
  .grid-col-4 > .grid-item {
    width: 100%;
    margin: 20px 0;
  }
}

/* ---feature--- */
.feature {
  text-align: center;
  padding: 0 15px;
}
.feature-headline {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 20px;
}
.feature-image {
  margin: 0 0 20px;
}
.feature-description {
  font-size: 18px;
  margin: 0 0 30px;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/* ---card--- */
.card {
  padding: 0 10px;
}
.card-link {
  display: block;
  color: #333;
  text-decoration: none;
  position: relative;
  transition: background-color 0.25s;
}
.card-link:hover {
  background-color: #eee;
}
.card-label {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #999;
  color: #fff;
  display: block;
  padding: 5px 10px;
  font-size: 12px;
}
.card-image {
  width: 100%;
  height: auto;
}
.card-info {
  padding: 5px 10px;
}
.card-time {
  display: flex;
  font-size: 18px;
  text-align: left;
}
.card-headline {
  display: flex;
  text-align: left;
  margin: 0;
  font-size: 36px;
}
.card-description {
  display: flex;
  text-align: left;
  font-size: 18px;
}

/* ---avator--- */
.avator {
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  padding: 10px;
}
.avator-name {
  font-weight: bold;
  padding: 15px;
  font-size: 14px;
}
.avator-image {
  margin: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.avator-image img {
  vertical-align: top;
}

/* ---button--- */
.button {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  background-color: #333;
  text-align: center;
  padding: 10px 60px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 5px 5px 0 #bbb;
  transition: box-shadow 0.25s;
}
.button:hover {
  box-shadow: 0 0 0 #bbb;
}
.button.button-submission {
  background: #92d3ca;
  font-size: 16px;
  margin-bottom: 30px;
}

/* ---select, input, radio, textarea--- */
.select {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
}
.input {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 500px;
}
.radio {
  margin: 0 10px;
}
.textarea {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 500px;
  min-height: 100px;
}

@media screen and (max-width: 768px) {
  .select,
  .input,
  .textarea {
    min-width: auto;
    width: 100%;
  }
}

/* ---form--- */
.form {
  font-size: 20px;
}
.form-table {
  margin: 0 auto;
}
.form-table th {
  text-align: left;
  padding: 10px;
}
.form-table td {
  padding: 10px;
}
.form-button {
  margin: 20px;
  text-align: center;
}
.radio-container {
  display: flex;
  justify-content: left;
}
.radio > input {
  margin-right: 5px;
}
@media screen and (max-width: 768px) {
  .form-table,
  .form-table tbody,
  .form-table tr,
  .form-table th,
  .form-table td {
    display: block;
    margin: 15px;
    text-align: left;
  }
}
@media screen and (max-width: 468px) {
  .radio {
    display: block;
    margin: 15px;
  }
}

/* ---works--- */
.works {
  margin: 40px 0;
  padding: 20px;
  text-align: center;
}

.works > img {
  margin: 0 15px;
}
@media screen and (max-width: 768px) {
  .works {
    margin: 20px 0;
    padding: 10px;
  }
  .works > img {
    width: 100px;
    margin: 5px;
  }
}

/* ---footer--- */
.footer {
  background-color: #333;
  color: #fff;
}
.footer-map {
  margin: 0;
  padding: 40px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-map > iframe {
  width: 60%;
}
.footer-map-info {
  width: 40%;
}
.footer-map-logo {
  font-size: 25px;
  font-weight: bold;
}
.footer-map-address {
  font-style: normal;
  padding-left: 15px;
}
.footer-map-address > a {
  display: block;
  color: #fff;
}
.footer-line {
  border-color: #444;
}
.footer-copyright {
  display: block;
  text-align: center;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .footer-map {
    padding: 15px;
    display: block;
  }
  .footer-map > iframe {
    width: 100%;
    height: 200px;
  }
  .footer-map-info {
    width: 100%;
    text-align: center;
  }
}

/* ---header--- */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.header-logo {
  margin: 0;
}
.header-logo > a {
  display: block;
}
/* .header-nav {} */
.header-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .header-nav-item {} */
.header-nav-item > a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-color 0.25s;
}
.header-nav-item > a:hover {
  border-bottom: 2px solid #333;
}

@media screen and (max-width: 468px) {
  .header-nav-item > a {
    font-size: 12px;
  }
}

/* ---hero--- */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.hero > strong {
  position: absolute;
  z-index: 3;
  top: 40%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  color: #ccc;
  display: block;
  width: 100%;
  text-align: center;
}
.hero > video {
  position: absolute;
  left: 0;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
}
.hero-particles {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 100vw;
    height: 100vh;
  }
  .hero > strong {
    font-size: 50px;
    top: 80%;
    left: 70%;
  }
  .hero > video {
    position: absolute;
    left: -60%;
    top: 0;
    z-index: 1;
    width: auto;
    height: 100%;
  }
}
